@import "tailwindcss";
@theme {
    --breakpoint-belowtab: 650px ;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
  }

  html{
    font-size: 75%;
  }

   body{
    background-color: black;
    color: white;
   }


   @media only screen and (width<=700px){
    html{
        font-size: 60%;
    }
}

   @media only screen and (width<=450px){
    html{
        font-size: 55%;
    }
}